@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.maincontain {
    display: flex;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.subcontain_left {
    background-color: #009688;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.monitor_icon{
    height: 25%;
    width: 25%;
}

.site_title{
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size:3rem;
    color: black;
}

.monitor_icon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

.subcontain_right {
    background-color: white;
    flex: 1;
}